body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: darkslategrey;
}
button{
    background-color: pink;
}
button:hover {
	background-color: white;}
li{
    list-style-type: none;
}
.strike{
    text-decoration: line-through;
}